
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       @foreach (var u in ViewData["Result"].ToString())
       {
        <h1>@u</h1>
       }
           
       
    </div>
</body>
</html>
